.container {
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: left;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.groups_card {
    display: flex;
    flex-direction: column;
}

.fixed_group, .size_weight_dimensions {
    padding: 10px;
    width: 30%;
}

.size_weight_dimensions input {
    margin-top: 4px;
    width: 60%;
}

#DVD, #Book, #Furniture {
    border: 1px solid black;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

.btns_ {
    position: absolute;
    top: 6px;
    left: 60%;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
}